@import url(./reset.css);
@import url(./globalStyles.css);

.header_container {
    width: 100%;
    height: 4rem;

    background-color: var(--gray-01);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.header_icon {
    width: 3rem;
    height: 3rem;

    padding: .15rem;

    background-color: var(--primary-color);
    border-radius: 50%;
}

.header_title {
    font-family: var(--title);
    font-size: 2rem;
}


.main_container {
    width: 90%;
    max-width: 1440px;
    height: fit-content;

    border-radius: 10px;

    background-color: var(--gray-01);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
}

.main_title {
    font-family: var(--title);
    font-size: 1.5rem;
    color: var(--gray-04);

    padding: .75rem 0;
}

.main_title-store {
    color: var(--primary-color);
    font-weight: 500;
}

.products_headline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.products_title {
    font-family: var(--text);
    font-size: 1rem;
}

.toggle_button {
    width: 25px;
    height: 25px;
    padding: .5rem 1rem;
    font-size: 1rem;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.grid {
    display: grid;
}

.grid.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.products_counter {
    background-color: var(--secundary-color);
    color: var(--gray-01);
    font-size: 1rem;
    font-weight: 700;

    border-radius: 5px;

    padding: .25rem;
    margin: .25rem;
}

.product_list {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.products_item {
    width: auto;
    max-width: 15rem;
    height: fit-content;
    min-height: 30rem;
    padding: .25rem;

    margin: 1rem .5rem;

    background-color: var(--gray-00);

    border: 1px solid var(--secundary-color);
    border-radius: 10px;

    box-shadow: 0px 0px 10px 0px var(--gray-03);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.products_item:hover {
    box-shadow: 0px 0px 10px 0px var(--secundary-color);
}

.product_img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.product_name {
    font-family: var(--title);
    font-weight: 500;
    color: var(--gray-03);
    font-size: 1rem;
    text-align: center;
}

.alter_list {
    width: 50%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.alter_img_container {
    width: 100%;
    max-width: 58px;
    height: 100%;

    overflow: hidden;
}

.alter_img {
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.original_price {
    font-family: var(--text);
    font-size: .75rem;
    color: var(--gray-03);
    text-decoration: line-through;
}

.hide_original_price{
    color: transparent;
}

.product_price {
    font-family: var(--text);
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--gray-04);
}

.buy_button {
    width: 75%;
    background-color: var(--gray-01);

    border-radius: 20px;
    border: 1px solid var(--secundary-color);

    margin: 1rem 0;

    cursor: pointer;

    padding: .5rem .15rem;

    font-family: var(--text);
    font-size: auto;
    font-weight: 700;
    color: var(--secundary-color);
}

.buy_button:hover {
    background-color: var(--secundary-color);
    border-color: var(--gray-01);
    color: var(--gray-01);
}

.footer_container {
    width: 100%;
    height: 4rem;

    background-color: var(--gray-01);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.footer_text{
    font-family: var(--text);
    font-size: 1rem;
    color: var(--gray-03);
}

.footer_text-hightlight{
    color: var(--gray-04);

    cursor: pointer;
}

.footer_text-hightlight:hover{
    color: var(--secundary-color);
}


@media (min-width: 1024px) {
    .header_container{
        height: 6rem;
    }

    .header_icon {
        width: 4rem;
        height: 4rem;
    }

    .header_title {
        font-size: 3rem;
    }

    .main_title {
        font-size: 2rem;
    }

    .products_title {
        font-size: 1.5rem;
    }

    .grid.grid-1 {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .grid.grid-2 {
        grid-template-columns: repeat(5, 1fr);
    }
}